<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/style.css/">
</head>
<body>
  <div class="login-container">
    <h2>Bienvenido</h2>
    <p>Iniciá sesión para continuar</p>

    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}

    <form method="POST" action="/login">
      <input type="name" name="username" placeholder="Nombre de usuario" required />
      <input type="password" name="password" placeholder="Contraseña" required />
      <button type="submit">Ingresar</button>
    </form>

    <div class="forgot-password">
      <a href="/forgot-password"><button class="register-btn">¿Olvidaste tu contraseña?</button></a>
    </div>

    <div class="register-link">
      <p>¿No tenés cuenta?</p>
      <a href="/register"><button class="register-btn">Registrarse</button></a>
    </div>
  </div>
</body>
</html>